<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>javamail</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Regist</display-name>
    <servlet-name>Regist</servlet-name>
    <servlet-class>servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Regist</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActiveServlet</display-name>
    <servlet-name>ActiveServlet</servlet-name>
    <servlet-class>servlet.ActiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveServlet</servlet-name>
    <url-pattern>/ActiveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeixinLoginServlet</display-name>
    <servlet-name>WeixinLoginServlet</servlet-name>
    <servlet-class>servlet.WeixinLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeixinLoginServlet</servlet-name>
    <url-pattern>/WeixinLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CallBakServlet</display-name>
    <servlet-name>CallBakServlet</servlet-name>
    <servlet-class>servlet.CallBakServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallBakServlet</servlet-name>
    <url-pattern>/CallBakServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookSeachServlet</display-name>
    <servlet-name>BookSeachServlet</servlet-name>
    <servlet-class>servlet.BookSeachServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookSeachServlet</servlet-name>
    <url-pattern>/BookSeachServlet</url-pattern>
  </servlet-mapping>
</web-app>